/***************************
****************************
Variables
****************************
***************************/
/***************************
****************************
Responsive
****************************
***************************/
.show-xs,
.show-s,
.show-m,
.show-xl {
  display: none;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .hide-m {
    display: none !important;
  }
  .show-m {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .hide-s {
    display: none !important;
  }
  .show-s {
    display: block;
  }
}
@media (max-width: 767px) {
  .hide-xs {
    display: none !important;
  }
  .show-xs {
    display: block;
  }
}
/***************************
****************************
Fonts
****************************
***************************/
@font-face {
  font-family: 'proxima_nova_regular';
  src: url('../fonts/proximanova-reg-webfont.eot');
  src: url('../fonts/proximanova-reg-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-reg-webfont.woff') format('woff'), url('../fonts/proximanova-reg-webfont.ttf') format('truetype'), url('../fonts/proximanova-reg-webfont.svg#proxima_nova_rgregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_semibold';
  src: url('../fonts/proximanova-sbold-webfont.eot');
  src: url('../fonts/proximanova-sbold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-sbold-webfont.woff2') format('woff2'), url('../fonts/proximanova-sbold-webfont.woff') format('woff'), url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'), url('../fonts/proximanova-sbold-webfont.svg#proxima_novasemibold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proxima_nova_bold';
  src: url('../fonts/proximanova-bold-webfont.eot');
  src: url('../fonts/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/proximanova-bold-webfont.woff2') format('woff2'), url('../fonts/proximanova-bold-webfont.woff') format('woff'), url('../fonts/proximanova-bold-webfont.ttf') format('truetype'), url('../fonts/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PalatinoLTStd-BoldItalic';
  src: url('../fonts/PalatinoLTStd-BoldItalic_gdi.eot');
  src: url('../fonts/PalatinoLTStd-BoldItalic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/PalatinoLTStd-BoldItalic_gdi.woff') format('woff'), url('../fonts/PalatinoLTStd-BoldItalic_gdi.ttf') format('truetype'), url('../fonts/PalatinoLTStd-BoldItalic_gdi.otf') format('opentype'), url('../fonts/PalatinoLTStd-BoldItalic_gdi.svg#PalatinoLTStd-BoldItalic') format('svg');
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
@font-face {
  font-family: 'SabonLTStd-Italic';
  src: url('../fonts/SabonLTStd-Italic_gdi.eot');
  src: url('../fonts/SabonLTStd-Italic_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/SabonLTStd-Italic_gdi.woff') format('woff'), url('../fonts/SabonLTStd-Italic_gdi.ttf') format('truetype'), url('../fonts/SabonLTStd-Italic_gdi.otf') format('opentype'), url('../fonts/SabonLTStd-Italic_gdi.svg#SabonLTStd-Italic') format('svg');
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
/* Generated by Fontie - the magic webfont generator <http://fontie.flowyapps.com> */
@font-face {
  font-family: 'SabonLTStd-Roman';
  src: url('../fonts/SabonLTStd-Roman_gdi.eot');
  src: url('../fonts/SabonLTStd-Roman_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/SabonLTStd-Roman_gdi.woff') format('woff'), url('../fonts/SabonLTStd-Roman_gdi.ttf') format('truetype'), url('../fonts/SabonLTStd-Roman_gdi.otf') format('opentype'), url('../fonts/SabonLTStd-Roman_gdi.svg#SabonLTStd-Roman') format('svg');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-25CA;
}
.font-1 {
  font-size: 16px;
  line-height: 26px;
}
/***************************
****************************
General Styles
****************************
***************************/
body {
  background: url('../images/bg-main.jpg') repeat-x 0 0;
  font-family: 'proxima_nova_regular';
  color: #555555;
}
.logo {
  margin: 0;
}
.logo a {
  background: url('../images/logo.png') no-repeat 0 0;
  width: 175px;
  height: 50px;
  display: block;
  text-indent: -9999px;
  font-family: 'proxima_nova_semibold';
}
.logo.color a {
  background: url('../images/logo-color.png') no-repeat 0 0;
}
.bg-lines-1 {
  background: url('../images/bg-lines-1.jpg') repeat-x 0 0;
}
.bg-lines-2 {
  background: url('../images/bg-lines-2.jpg') repeat-x 0 0;
}
.bg-lines-3 {
  background: url('../images/bg-lines-3.jpg') repeat-x 0 0;
}
.bg-gradient-1 {
  background: url('../images/bg-gradient-1-top.png') repeat-x 0 0, url('../images/bg-gradient-1-botton.png') repeat-x 0 100% #eceef4;
}
.bg-gradient-2 {
  background: url('../images/bg-gradient-1-top.png') repeat-x 0 0 white;
}
.gray-border {
  border-bottom: 2px solid #f5f5f5;
}
.gray-border-1 {
  border-bottom: 2px solid #e4e4e4;
}
.site-padding {
  padding: 45px 0;
}
.site-padding-bottom {
  padding-bottom: 45px;
}
.site-padding-top {
  padding-top: 45px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
  font-family: 'proxima_nova_bold';
}
.star-title {
  background: url('../images/bg-star-title.png') no-repeat 50% 100%;
  font-size: 32px;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 35px;
  color: #1b3e86;
  margin: 0 0 50px 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  .star-title {
    font-size: 26px;
    margin: 0 0 30px 0;
  }
}
.divider {
  height: 2px;
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
}
.white-bg {
  background-color: white;
}
/***************************
****************************
Buttons Styles
****************************
***************************/
.my-btn {
  border-radius: 4px;
  box-shadow: 0 1px 2px -1px #000000;
  color: white;
  display: inline-block;
  font-family: "proxima_nova_semibold";
  font-size: 15px;
  padding: 0 20px;
  text-transform: uppercase;
  text-align: center;
  border: none;
}
.my-btn:hover {
  color: white;
  text-decoration: none;
}
.my-btn.btn-1 {
  background: url('../images/bg-btn-1.jpg') repeat-x 0 0;
  height: 44px;
  line-height: 44px;
}
.my-btn.btn-1:hover {
  background-position: 0 -44px;
}
.my-btn.btn-2 {
  background: url('../images/bg-btn-2.jpg') repeat-x 0 0;
  height: 56px;
  line-height: 56px;
  padding-right: 0;
  padding-left: 23px;
  font-size: 17px;
}
.my-btn.btn-2 > span {
  float: right;
  background: url('../images/bg-btn-2.jpg') repeat-x 0 -112px;
  width: 55px;
  text-align: center;
  margin-left: 23px;
  font-size: 20px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.my-btn.btn-2:hover {
  background-position: 0 -56px;
}
.my-btn.btn-3 {
  background: url('../images/bg-btn-3.jpg') repeat-x 0 0;
  height: 69px;
  line-height: 69px;
  padding-right: 0;
  padding-left: 23px;
  font-size: 20px;
}
.my-btn.btn-3 > span {
  float: right;
  background: url('../images/bg-btn-3.jpg') repeat-x 0 -138px;
  width: 69px;
  text-align: center;
  margin-left: 23px;
  font-size: 25px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.my-btn.btn-3:hover {
  background-position: 0 -69px;
}
.my-link:hover {
  text-decoration: none;
}
.my-link.link-1 {
  color: #e61919;
  font-size: 15px;
  font-family: 'proxima_nova_bold';
  text-transform: uppercase;
}
.my-link.link-1:hover {
  color: #ff1a1a;
}
/***************************
****************************
Main Menu Styles
****************************
***************************/
#main-menu {
  background: url('../images/bg-lines-1.jpg') repeat-x 0 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#main-menu.white {
  transition: background 0.5s ease;
  border-top: 3px solid #e61919;
  background: white;
  box-shadow: 0 0 5px -1px #000000;
}
#main-menu.white .menu-wrapper {
  padding: 10px 0;
}
#main-menu.white .menu-wrapper .toggler {
  background: url('../images/bg-toggler.jpg') repeat-x 0 0;
}
#main-menu.white .menu-wrapper .toggler:hover {
  background-position: 0 -42px;
}
#main-menu.white .menu-wrapper .logo a {
  background: url('../images/logo-color.png') no-repeat 0 0;
}
#main-menu.white .menu-wrapper .main-menu li a {
  color: #214186;
}
#main-menu.white .menu-wrapper .main-menu li a:hover {
  color: #3263cd;
}
#main-menu.white .menu-wrapper .main-menu li.sub-menu:hover a {
  color: white;
}
#main-menu.white .menu-wrapper .main-menu li.sub-menu ul li a {
  color: rgba(255, 255, 255, 0.8);
}
#main-menu.white .menu-wrapper .main-menu li.sub-menu ul li a:hover {
  color: white;
}
#main-menu.white .menu-wrapper .main-menu-mobile {
  top: 70px;
}
#main-menu.white .menu-wrapper .call .phone-icon {
  font-size: 22px;
  color: white;
  background-color: #e61919;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
}
#main-menu.white .menu-wrapper .call > span > span {
  color: #243c95;
}
#main-menu.white .menu-wrapper .call > span > span.phone {
  color: #e61919;
}
#main-menu .menu-wrapper {
  transition: padding 0.5s ease;
  padding: 25px 0;
}
#main-menu .menu-wrapper .toggler {
  cursor: pointer;
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  float: right;
  font-size: 20px;
  height: 42px;
  line-height: 37px;
  margin-left: 20px;
  text-align: center;
  width: 42px;
}
#main-menu .menu-wrapper .toggler:hover {
  color: white;
}
#main-menu .menu-wrapper .toggler i {
  vertical-align: middle;
}
#main-menu .menu-wrapper .logo {
  float: left;
}
#main-menu .menu-wrapper .main-menu {
  float: left;
  margin-left: 55px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #main-menu .menu-wrapper .main-menu {
    margin-left: 10px;
  }
}
#main-menu .menu-wrapper .call {
  float: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  #main-menu .menu-wrapper .call {
    border-right: 1px solid white;
    padding-right: 20px;
  }
}
.main-menu {
  margin: 0;
}
.main-menu li {
  float: left;
}
.main-menu li a {
  color: rgba(255, 255, 255, 0.8);
  border-bottom: 3px solid transparent;
  display: block;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 25px;
  position: relative;
  z-index: 10;
}
.main-menu li a:hover {
  color: white;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .main-menu li a {
    padding: 0 20px;
  }
}
.main-menu li.active a {
  border-color: #e61919;
}
.main-menu li.sub-menu {
  position: relative;
}
.main-menu li.sub-menu:hover > ul {
  display: block;
}
.main-menu li.sub-menu > a {
  background: url('../images/arrow-2.png') no-repeat 92% 50%;
}
.main-menu li.sub-menu ul {
  display: none;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a388a;
  width: 100%;
  padding-top: 50px;
}
.main-menu li.sub-menu ul li {
  float: none;
  border-bottom: 1px solid #314c96;
}
.main-menu li.sub-menu ul li:last-child {
  border-bottom: none;
}
.main-menu li.sub-menu ul li a {
  text-transform: capitalize;
  padding: 0 25px;
  height: 42px;
  line-height: 42px;
  display: block;
  border-bottom: none;
}
.main-menu-mobile {
  transition: top 0.5s ease;
  margin: 0;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100px;
  background-color: red;
}
.main-menu-mobile li {
  border-bottom: 1px solid #f14950;
}
.main-menu-mobile li:last-child {
  border-bottom: none;
}
.main-menu-mobile li.active a {
  color: white;
  background-color: #b71319;
}
.main-menu-mobile li a {
  font-family: 'proxima_nova_semibold';
  color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-transform: uppercase;
  background-color: #ed1c24;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 54px;
}
.main-menu-mobile li a:hover {
  color: white;
  text-decoration: none;
}
.call {
  font-family: 'proxima_nova_semibold';
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  font-size: 13px;
}
.call > span {
  display: block;
  float: left;
  line-height: 20px;
}
.call > span > span.phone {
  font-size: 19px;
}
.call > span.phone-icon {
  font-size: 20px;
  color: #0f2562;
  background-color: #5a81d4;
  height: 31px;
  width: 31px;
  line-height: 31px;
  text-align: center;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: 2px;
}
.call > span.phone-icon i {
  vertical-align: middle;
}
/***************************
****************************
Header Home Styles
****************************
***************************/
#header-home {
  margin-top: 106px;
  position: relative;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  #header-home {
    overflow: hidden;
  }
}
#header-home .header-home {
  position: relative;
  height: 781px;
}
#header-home .header-home > h1 {
  position: absolute;
  left: 0;
  top: 145px;
  color: white;
  font-size: 76px;
  line-height: 76px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #header-home .header-home > h1 {
    font-size: 62px;
    line-height: 62px;
  }
}
#header-home .header-home > h1 span {
  font-family: 'PalatinoLTStd-BoldItalic';
}
#header-home .header-home .stripe {
  background: url('../images/bg-blue.jpg') no-repeat 0 0;
  color: white;
  font-size: 27px;
  height: 53px;
  line-height: 53px;
  padding-right: 16px;
  position: absolute;
  right: 805px;
  text-align: right;
  text-transform: uppercase;
  top: 54px;
  width: 1553px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #header-home .header-home .stripe {
    right: 605px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #header-home .header-home .stripe {
    right: 455px;
    font-size: 21px;
  }
}
#header-home .header-home .lawyer-img {
  position: absolute;
  bottom: 0;
  right: 21px;
  z-index: 10;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #header-home .header-home .lawyer-img {
    right: -90px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #header-home .header-home .lawyer-img {
    right: -193px;
  }
}
#header-home .header-home .btn-3 {
  position: absolute;
  top: 450px;
  left: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  #header-home .header-home .btn-3 {
    top: 375px;
  }
}
#header-home .home-quote {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#header-home .home-quote .divider {
  left: -1015px;
  position: absolute;
  top: 110px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #header-home .home-quote .divider {
    left: -815px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #header-home .home-quote .divider {
    left: -595px;
  }
}
.home-quote {
  background: url('../images/bg-blue-big.jpg') repeat-x 0 0;
  height: 186px;
}
.home-quote blockquote {
  background: url('../images/quotes.png') no-repeat 0 0;
  font-family: 'SabonLTStd-Italic';
  color: white;
  font-size: 30px;
  line-height: 35px;
  margin: 24px 0 0 0;
  padding: 0 0 0 62px;
  border: none;
}
@media (min-width: 768px) and (max-width: 992px) {
  .home-quote blockquote {
    font-size: 23px;
  }
}
.home-quote blockquote p {
  margin: 0;
}
.home-quote .cite {
  margin-top: 30px;
  padding-left: 62px;
}
.home-quote .cite p {
  font-family: 'SabonLTStd-Roman';
  color: white;
  font-size: 18px;
  line-height: normal;
  margin: 0;
}
.home-quote .arrow {
  position: absolute;
  top: -48px;
  right: 700px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .home-quote .arrow {
    right: 550px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .home-quote .arrow {
    right: 470px;
  }
}
/***************************
****************************
We Help Styles
****************************
***************************/
#we-help h3 {
  text-transform: uppercase;
  font-size: 25px;
  line-height: 22px;
  margin: 0;
  color: #1e4493;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #we-help h3 {
    font-size: 20px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #we-help h3 {
    font-size: 24px;
  }
}
#we-help h3.stripe {
  background-color: #e61919;
  color: white;
  left: -808px;
  line-height: 33px;
  padding-right: 11px;
  position: absolute;
  text-align: right;
  top: 25px;
  width: 1000px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #we-help h3.stripe {
    left: -840px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #we-help h3.stripe {
    left: -814px;
  }
}
#we-help p {
  font-size: 17px;
  line-height: 26px;
  margin: 67px 0 0;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #we-help p {
    font-size: 15px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #we-help p {
    font-size: 16px;
  }
}
#we-help p span {
  font-family: 'proxima_nova_bold';
}
#we-help ul {
  margin: 0;
}
#we-help ul li {
  font-size: 16px;
  line-height: 26px;
  float: left;
  width: 33.33%;
  margin-bottom: 22px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #we-help ul li {
    width: 50%;
  }
}
#we-help ul li:nth-last-child(-n+3) {
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 992px) {
  #we-help ul li:nth-last-child(-n+3) {
    margin-bottom: 22px;
  }
}
#we-help ul li i {
  color: #67be66;
}
/***************************
****************************
Practice Areas Styles
****************************
***************************/
.practice {
  text-align: center;
  padding: 0 10px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .practice {
    padding: 0;
  }
}
.practice h4 {
  color: #13588f;
  margin: 32px 0;
}
.practice p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .practice p {
    font-size: 14px;
  }
}
.practice .btn-1 {
  width: 162px;
  padding: 0;
  margin-top: 20px;
}
/***************************
****************************
As Seen On Styles
****************************
***************************/
.aso-wrapper .aso {
  text-align: center;
  line-height: 81px;
}
.aso-wrapper .aso img {
  vertical-align: middle;
}
/***************************
****************************
Client Reviews Styles
****************************
***************************/
#client-reviews {
  padding-bottom: 34px;
}
#client-reviews .owl-controls {
  margin-top: 34px;
}
.review-slide {
  text-align: center;
}
.review-slide h4 {
  font-size: 20px;
  color: #1b3e86;
  margin-top: 0;
  margin-bottom: 30px;
}
.review-slide p {
  font-size: 16px;
  line-height: 26px;
  color: #252525;
}
.review-slide p:last-child {
  margin-bottom: 0;
}
/***************************
****************************
Owl Styles
****************************
***************************/
.owl-theme .owl-controls {
  margin: 0;
}
.owl-theme .owl-controls .owl-pagination {
  line-height: normal;
  height: 16px;
}
.owl-theme .owl-controls .owl-pagination .owl-page {
  line-height: normal;
  margin: 0 6px;
}
.owl-theme .owl-controls .owl-pagination .owl-page span {
  background-color: #cbd6e2;
  width: 16px;
  height: 16px;
  margin: 0;
}
.owl-theme .owl-controls .owl-pagination .owl-page.active span {
  background: url('../images/bg-owl-control.png') repeat-x 0 0;
}
/***************************
****************************
Badges Styles
****************************
***************************/
.badges {
  padding-top: 20px;
}
.badges .my-badge {
  width: 33.33%;
  display: block;
  float: left;
  text-align: center;
  line-height: 114px;
}
.badges .my-badge img {
  vertical-align: middle;
}
.facebook-plugin {
  margin-top: 15px;
}
.facebook-plugin img {
  width: 100%;
}
/***************************
****************************
Badges Styles
****************************
***************************/
#contact-form {
  background-color: white;
  box-shadow: 0 0 3px -1px #000000;
  padding: 40px 30px;
  text-align: center;
}
#contact-form p {
  font-size: 16px;
  line-height: 26px;
}
#contact-form .my-form .btn-2 {
  margin-top: 23px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact-form .my-form .btn-2 {
    width: 100%;
    margin-top: 0;
  }
}
#contact-form .my-form img {
  float: right;
}
@media (min-width: 768px) and (max-width: 992px) {
  #contact-form .my-form img {
    float: none;
    margin: 5px auto 0 auto;
    display: block;
  }
}
.my-form {
  text-align: left;
}
.my-form .form-group {
  margin-bottom: 10px;
}
.my-form .form-group label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.my-form .form-group label span {
  font-weight: normal;
}
.my-form .form-group .form-control {
  resize: none;
  border-color: #bbbbbb;
}
.my-form .form-group .form-control[type="text"],
.my-form .form-group .form-control[type="email"] {
  height: 44px;
}
.my-form .form-group .form-control:focus {
  border-color: #ff7700;
  box-shadow: none;
}
/***************************
****************************
Locations Styles
****************************
***************************/
.location {
  font-size: 15px;
  line-height: 21px;
  color: #303030;
}
.location > div {
  float: left;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  .location > div {
    float: none;
  }
}
.location > div > img {
  margin-right: 16px;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  .location > div > img {
    margin: 0 auto;
    display: block;
  }
}
.location > div h4 {
  color: #1b3e86;
  font-size: 21px;
  text-transform: uppercase;
  border-bottom: 2px solid #ededed;
  margin-top: 12px;
  margin-bottom: 24px;
  padding-bottom: 16px;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  .location > div h4 {
    margin-top: 22px;
    text-align: center;
  }
}
.location > div p {
  margin: 0;
}
.location > div address,
.location > div .phone {
  line-height: 25px;
  margin-bottom: 12px;
  padding-left: 35px;
  position: relative;
  text-align: left;
}
.location > div address span,
.location > div .phone span {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  font-size: 16px;
  color: white;
  background-color: #e61919;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 100%;
}
/***************************
****************************
Footer Styles
****************************
***************************/
#footer {
  background-color: #eff0f3;
}
#footer #top {
  padding: 35px 0;
  border-bottom: 1px solid #e4e4e4;
}
@media (min-width: 768px) and (max-width: 992px) {
  #footer #top {
    padding: 24px 0;
  }
}
#footer #middle {
  border-bottom: 1px solid #e4e4e4;
}
#footer .logo {
  float: left;
  margin-right: 60px;
}
@media (min-width: 768px) and (max-width: 992px) {
  #footer .logo {
    width: 100%;
    margin: 0 0 35px 0;
    text-align: center;
    float: none;
  }
  #footer .logo a {
    display: inline-block;
  }
}
#footer .footer-menus {
  float: left;
}
@media (min-width: 768px) and (max-width: 992px) {
  #footer .footer-menus {
    float: none;
  }
}
.footer-menu {
  float: left;
}
.footer-menu:nth-child(1) {
  width: 100px;
}
.footer-menu:nth-child(2) {
  width: 195px;
}
.footer-menu:nth-child(3) {
  width: 160px;
}
.footer-menu:nth-child(4) {
  width: 100px;
}
.footer-menu:nth-child(5) {
  width: auto;
}
@media (min-width: 993px) and (max-width: 1200px) {
  .footer-menu:nth-child(1) {
    width: 65px;
  }
  .footer-menu:nth-child(2) {
    width: 140px;
  }
  .footer-menu:nth-child(3) {
    width: 100px;
  }
  .footer-menu:nth-child(4) {
    width: 65px;
  }
  .footer-menu:nth-child(5) {
    width: auto;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer-menu:nth-child(1),
  .footer-menu:nth-child(2),
  .footer-menu:nth-child(3),
  .footer-menu:nth-child(4),
  .footer-menu:nth-child(5) {
    width: 20%;
  }
}
.footer-menu h5 {
  color: #858a9a;
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer-menu ul {
  margin: 0;
}
.footer-menu ul li {
  font-size: 13px;
  line-height: 19px;
  margin-bottom: 10px;
}
.footer-menu ul li:last-child {
  margin-bottom: 0;
}
.footer-menu ul li a {
  color: #4b4f5c;
  text-transform: capitalize;
}
.footer-menu ul li a:hover {
  color: #606575;
  text-decoration: none;
}
.footer-info {
  float: right;
  padding-left: 27px;
  border-left: 1px solid #e4e4e4;
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer-info {
    float: none;
    border: none;
    padding: 15px 0;
    overflow: hidden;
  }
  .footer-info > img {
    float: right;
    margin-top: 9px;
  }
}
.footer-info .call {
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 19px;
  margin-bottom: 19px;
}
@media (min-width: 768px) and (max-width: 992px) {
  .footer-info .call {
    border-bottom: none;
    float: left;
    margin: 0;
    padding: 0;
  }
}
.footer-info .call .phone-icon {
  font-size: 22px;
  color: white;
  background-color: #e61919;
  height: 36px;
  width: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
}
.footer-info .call > span > span {
  color: #243c95;
  font-size: 15px;
  font-family: 'proxima_nova_bold';
}
.footer-info .call > span > span.phone {
  color: #e61919;
  font-size: 21px;
}
.footer-bottom {
  line-height: 40px;
  color: #858a9a;
}
.footer-bottom a {
  color: #858a9a;
}
.footer-bottom a:hover {
  text-decoration: none;
}
.footer-bottom p {
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.footer-bottom p > span {
  display: inline-block;
  margin: 0 20px;
}
.footer-bottom .powered {
  float: right;
}
/***************************
****************************
Click Here Styles
****************************
***************************/
#click-here {
  background: url('../images/bg-blue-red.jpg') no-repeat 50% 0;
  height: 119px;
  color: white;
  text-transform: uppercase;
  line-height: 119px;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #click-here {
    background-position: 48% 0;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #click-here {
    background-position: 45% 0;
  }
}
#click-here .btn-2 {
  width: 182px;
  text-align: center;
  font-size: 24px;
  padding: 0;
  margin-right: 20px;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  #click-here .btn-2 {
    margin-left: 10px;
  }
}
#click-here h3 {
  font-size: 24px;
  margin-left: 30px;
  line-height: 119px;
}
@media (min-width: 768px) and (max-width: 992px), (min-width: 993px) and (max-width: 1200px) {
  #click-here h3 {
    margin-left: 0;
    font-size: 22px;
  }
}
#click-here h4 {
  border-bottom: 2px solid #4e75c7;
  border-top: 2px solid #4e75c7;
  font-size: 24px;
  padding: 13px 0;
  margin-top: 27px;
  float: right;
}
@media (min-width: 993px) and (max-width: 1200px) {
  #click-here h4 {
    font-size: 18px;
    line-height: 27px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #click-here h4 {
    font-size: 23px;
    line-height: 22px;
    padding: 5px 0;
  }
}
